/*********************************************************************************/
/*                                      XL - story                               */
/*********************************************************************************/

:root {
    --black: #000;
    --black-opacity: rgba(0, 0, 0, 0.5);
    --white: #fff;
    --red: #ff0000;
    --red-opacity: rgba(255, 0, 0, 0.5);
    --green: #A7C399;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overscroll-behavior: none;
    //background-color: var(--black);
    color: var(--white);
}

/*********************************** IMAGES    ***********************************/

.intro-image {
    background-image: url('./IMG/ambulanse.png');
    width: 100%;
    height: auto;
}

/*********************************** INTRO *************************************/

#intro {
    background-attachment: fixed;
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-text h1 {
    font-size: 2.1rem;
    text-align: left;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    padding: 0 2rem;
}

/***************************** Font, text osv  *********************************/

.text-container {
    height: 100vh;
    width: 70%;
    
}
.text-box {
    background-color: var(--black-opacity);
    color: var(--white);
    padding: 1.7rem;
    font-size: 1.3rem;
}

.text-center {
    text-align: center;
}

/*********************************** INTERSECTION *************************************/

#intersection {
    background-color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
}

.intersection-text {
    width: 70%;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}
