:root {
    --black: #000;
    --white: #fff;
    --red: #ff0000;
    --red-opacity: rgba(255, 0, 0, 0.5);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    overscroll-behavior: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

#intro {
    width: 100%;
    height: 200vh;
    background-color: var(--black); 
    color: var(--white);

    margin: 0 auto;
    padding: 3rem 0 5rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#intro h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 2rem;
}

#intro h3 {
    font-size: 1.2rem;
    text-align: center;
    color: var(--red);
    padding: 2rem;
}

/**************** Hjerte som slår ****************/

.heart-outer {
    background-color: var(--red-opacity);
    width: 102px;
    height: 102px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(10px);

    position: fixed;
    top: 50%;
    left: calc(50% - 50.5px);
}
.heart { 
    background-color: var(--red);
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 12rem var(--red));

    border-radius: 50%;}

/**************** Hjerte som slår ****************/

#heart-opacity {
    animation: pulse 5s infinite; 
}

@keyframes pulse {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

#heart {
   /*  background-color: var(--red);
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 12rem var(--red));

    border-radius: 50%; */
}

/**************** article ****************/

#article {
    width: 100%;
    height: 100vh;
    padding: 5rem 0;
    background-color: var(--white);
    color: var(--black);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**************** avslutning ****************/

#outro {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**************** the end ****************/

#theend {
    width: 100%;
    height: 100vh;
    background-color: var(--black);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**************** Hjerte som slutter å slå ****************/

#heart-opacity-end {
    /* background-color: var(--red-opacity);
    width: 102px;
    height: 102px;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    filter: blur(10px);

    position: fixed;
    top: 60%;
    left: calc(50% - 50.5px); */

    opacity: 0;

    animation-name: pulseend;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes pulseend {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    80%-100% {
        opacity: 0;
    }

}

#heart-end {
   /*  background-color: var(--red);
    width: 100px;
    height: 100px;
    filter: drop-shadow(0 0 12rem var(--red));

    border-radius: 50%; */
}