body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  margin: 0 auto;
  background-color: #fff;
  position: relative;
  max-width: 100%;
}

main img {
  width: 100%;
  height: auto;
  display: block;
}

#bildelogo {
  position: relative;
}

#Jens {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  color: #666;
  font-size: 1rem;
  padding: 1rem;
  margin-top: -2rem;
  object-fit: cover;
}

#bildelogo .logo {
  font-family: Arial, sans-serif;
  font-size: 50px;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.bildetekst {
  color: #666;
  font-size: 1rem;
  padding: 1rem;
  margin-top: -2rem;
  text-align: center;
  
}

h1 {
  color: black;
  font-size: 4rem;
  margin-bottom: 20px;
  padding: 2rem;
  text-align: center;
}

.tekst {
  line-height: 2;
  padding: 3rem;
  font-size: 1.5rem;
  color: #333333;
  padding-top: 0;
}

.marginer {
  margin: 0 auto;
  max-width: 70%;
}

.bold {
  font-weight: bold;
  line-height: 2;
  font-size: 2rem;
  color: black;
  text-align: center;
}

#imgtext {
  color: #666;
  font-size: 1rem;
  padding: 1rem;
  margin-top: -2rem;
  border-style: ridge;
}

#textimg {
  width: 100%;
  height: auto;
  display: block;
  margin: 20px auto;
}

#stats {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  color: #666;
  font-size: 1rem;
  padding: 1rem;
  margin-top: -2rem;
  border-style: ridge;
}

footer {
  font: arial, sans-serif;
  margin: 0;
  padding: 1rem;
  position: static;
  bottom: 0;
  max-width: 100%;
  height: 10vh;
  background-color: #39454b;
  color: white;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  main {
    margin: 0 auto;
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  main {
    margin: 0 auto;
  }

  h1 {
    font-size: 3rem;
  }

  header {
    text-align: center;
  }

  p {
    padding: 2rem;
    font-size: 1.2rem;
  }

  .bold {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  main {
    margin: 0 auto;
  }

  header {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    padding: 1rem;
    font-size: 1rem;
  }

  .bold {
    font-size: 1.2rem;
  }
}
